---
import Chip from "./Chip.astro"

const { userprops } = Astro.props
const { first_name, last_name, bio, group, imgname, tags } = userprops
const imgUrl = `/img/ppl/${imgname}.jpg`
---
<div class={`profile ${group} ${tags.join(" ")}`} hidden>
    <div class="b">
        <img src={imgUrl} alt="sem foto" />
    </div>
    <div class="b">
        <div class="name">{first_name + " " + last_name}</div>
        <div class="bio">{group} | {bio}</div>

        { tags.map((tag: string) => (<Chip color="primary">{tag}</Chip>)) }

    </div>
</div>

<style>
    .b {
        display: inline-block;
        vertical-align: middle;
    }

    .b > img {
        padding-right: 10px;
    }

    .bio {
        font-size: small;
    }

    img {
        border-radius: 50%;
        object-fit: cover;
        width: 90px;
        height: 90px;
        vertical-align: middle;
    }
</style>